<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../head'); -%>

<body>
    <%- include('../menu'); -%>
    
    <div class="container">
        <h1>Catalogo List</h1>
        <ul>
            <% for( let index = 1; index <= 30; index++ ) { %>
                <li><%= index %> Lorem Lorem Lorem Lorem Lorem </li>
            <% } %>
        </ul>
    </div>

    <%- include('../footer'); -%>
</body>


</html>