<div class="row">
    <% catalogs.forEach(catalog => { %>
        <div class="col m6 xl4">
            <div class="card blue darken-1 card-animate">
                <div class="card-content white-text center">
                    <span class="card-title"><%= catalog.titulo %> </span>
                    <p><%= catalog.descricao %> </p>
                    <span><%= catalog.dataCriacao %> </span>
                </div>
                <div class="card-action center ">
                    <a class="white-text" href="#download"><i class="small material-icons">file_download</i></a>
                    <a class="white-text" href="#zoom"><i class="small material-icons expandir-card">fullscreen</i></a>
                </div>
            </div>
        </div>     
    <% }) %>

</div>