<!DOCTYPE html>
<html lang="pt-BR">

<%- include('header'); -%>

<body>
    <%- include('menu'); -%>
    
    <div class="container">
        <h1>Home page</h1>
        <h4>Bem-vindo ao portal de catalogo de imagens</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel adipisci autem voluptate ex culpa totam
            ipsum reprehenderit eos, unde quod, possimus fuga, nulla voluptatem laudantium quidem expedita illo
            delectus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime minus illum nobis eveniet impedit
            distinctio earum. Consequuntur, cum! Autem, expedita eaque quo fuga esse praesentium dicta ipsum impedit
            laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime minus illum nobis eveniet impedit
            distinctio earum. Consequuntur, cum! Autem, expedita eaque quo fuga esse praesentium dicta ipsum impedit
            laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime minus illum nobis eveniet impedit
            distinctio earum. Consequuntur, cum! Autem, expedita eaque quo fuga esse praesentium dicta ipsum impedit
            laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime minus illum nobis eveniet impedit
            distinctio earum. Consequuntur, cum! Autem, expedita eaque quo fuga esse praesentium dicta ipsum impedit
            laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime minus illum nobis eveniet impedit
            distinctio earum. Consequuntur, cum! Autem, expedita eaque quo fuga esse praesentium dicta ipsum impedit
            laborum.</p>
    </div>

    <%- include('footer'); -%>
</body>


</html>