    <div id="loading" class="blue darken-3">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div id="object"></div>
            </div>
        </div>

    </div>

<div class="navbar-fixed">
    <nav class="blue darken-3">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/catalog/catalogList">Catalog</a></li>
                <li><a href="/catalog/registrarCatalogo">Cadastrar catalogo</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav blue darken-1" id="mobile-demo">
    <li><a class="white-text" href="/">Home</a></li>
    <li><a class="white-text" href="/catalog/catalogList">Catalog</a></li>
    <li><a class="white-text" href="/catalog/registrarCatalogo">Cadastrar catalogo</a></li>
</ul>